.categories ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 10px;
}

.categories li{
    background-color: rgb(239, 239, 239);
    padding: 1px 7px;
    border-radius: 5px;
}

.categories a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}