.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 45px;
}

.searchBar input{
   height: 40px;
    width: 450px;
    border-radius: 50px;
    border: 1px solid gainsboro;
    font-size: 18px;
    padding-left: 20px;
}

.searchBar input:focus{
    outline: none;
    border: 1px solid rgb(46, 120, 144);
}

.userOption{
    display: flex;
   align-items: center;
}